body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  background-color: #f0f0f0;
  background-image: url("./images/HeadBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.weather-box {
  position: relative;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.header-icon {
  background-image: url("./images/wIcon.png");
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header-text {
  font-size: 24px;
  color: white;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  row-gap: 20px;
  margin-left: 60px;
  margin-right: 60px;
  height: max-content;
  
}

.box {
  width: calc(
    50% - 20px
  ); 
 width: 350px;
 height: 250px; 


  display: flex;
 flex-direction: column;
  background-position: top;
  border-radius: 10px;
}

.upper-part {
  flex: 1;
  background-image: url("./images/BoxBg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  width: 100%;
  padding: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.city {
  font-size: 1.2rem;
  
  color: #f0f0f0;
  font-weight: bold;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f0f0f0;
}

.lower-part {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: x-small;
}

.upper-left {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.upper-right {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: small;
}

.lower-left,
.lower-center,
.lower-right {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 85px;
  flex-direction: column;
  padding: 5px;
  background-color: #393737;
  color: white;
}

.bold-text {
  font-weight: bold;
}

.lower-left {
  border-bottom-left-radius: 10px;
  padding-left: 20px;
  align-items: left;
}

.lower-center {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid rgb(120, 119, 119);
  align-items: center;
}

.lower-right {
  border-bottom-right-radius: 10px;
  border-left: 1px solid rgb(120, 119, 119);
  align-items: center;
  padding-right: 20px;
}

.lower-part div p {
  display: inline;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(57, 58, 58);
  color: rgb(141, 138, 138);
 
}

/* media quiries */
@media (max-width: 1080px) {
  .header {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .box-container {
    flex-direction: column;
    gap: 20px;
    row-gap: 20px;
    height: max-content;
  }

  .box {
    width: 100%;
    max-width: 480px;
  }

  .upper-part {
    border-radius: 10px 10px 0 0;
  }

  .lower-part {
    border-radius: 0 0 10px 10px;
  }

  .lower-left,
  .lower-center,
  .lower-right {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}
