.headerSingle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.box-containerS {
  display: flex;

  gap: 40px;
  row-gap: 20px;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.boxS {
  width: 650px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-position: top;
  border-radius: 10px;
}

.upper-partSingle {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  background-position: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  padding: 40px;
}

.iconS {
  margin-bottom: 10px;
}
.descriptionS {
  padding-right: 10px;
}

.arrow-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.upper-rightSingle {
  padding: 20px;
}

.upper-leftSingle {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 15px;
}

.citySingle {
  font-size: 1.2rem;
  margin-bottom: 0px;
  color: #f0f0f0;
  font-weight: bold;
  text-align: center;
}

.ss {
  display: flex;
  justify-content: center;
}

.temperatureSingle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0px;
  color: #f0f0f0;
}
.small-text {
  font-size: 12px;
  color: white;
}

.lower-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.corner {
  position: absolute;
  top: 0;
  right: 0;
}

/* media quiries */
/* For small screens  */
@media screen and (max-width: 1080px) {
  .boxS {
    width: 100%;
    height: auto;
  }

  .upper-partSingle {
    padding: 20px;
  }

  .upper-rightSingle {
    padding: 10px;
  }

  .upper-leftSingle {
    padding: 10px;
  }
}

/* For tablets and larger screens */
@media screen and (min-width: px) {
  .boxS {
    width: 50%; 
  }
}
